@use '../abstract/root';

.index-content {
    img {
        width: 100%;
    }
}

.index-text {
    h1 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1rem;
    }
    a {
        width: 180px;
        font-size: 1rem;
    }
}

@media(min-width:768px) {
    .index-content {
        img {
            width: 40%;
        }
    }

    .index-text {
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: 1.5rem
        }
        a {
            width: 280px;
            font-size: 1.5rem;
        }
    }
}

@media(min-width:1440px) {
    .index-text {
        h1 {
            font-size: 6rem;
        }
        p {
            font-size: 2rem;
        }
        a {
            font-size: 2rem;
            padding-top: 3px;
            height: 60px;
            width: 380px;
        }
    }
}