@use '../abstract/root';

main {
    margin: auto;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .text {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    h1 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1rem;
    }
    button {
        width: 140px;
        height: 30px;
        border: 0px transparent;
        border-radius: 80px;
        background: black;
        a {
            font-size: 1rem;
            text-decoration: none;
            color: white;
        }
    }
    }
    img {
    width: 120px;
    }
}  

footer {
    height: 70px;
    background: black;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 940px) {
        main {
            margin: auto;
            width: 80%;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .text {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
            h1 {
                font-size: 6rem;
            }
            p {
                font-size: 2.4rem;
            }
            button {
                width: 380px;
                height: 80px;
                border: 0px transparent;
                border-radius: 80px;
                background: black;
                a {
                    font-size: 2rem;
                    text-decoration: none;
                    color: white;
                }
            }
        }
        img {
            width: 400px;
        }
    }  
}
